img{
    width: 250px;
}
img{
    width: 250px;
}
        h1{
            font-family: courier;
            font-size: 50px;
        }
        p{
            font-family: italic;
        }

        body{
            background-color: cadetblue;
        }



    